<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CMNFTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CMNFTest.Properties.Settings>
            <setting name="OutputFolder" serializeAs="String">
                <value>..\..\..\output</value>
            </setting>
            <setting name="ScriptsFolder" serializeAs="String">
                <value>..\..\..\OutputScripts</value>
            </setting>
            <setting name="LatexFolder" serializeAs="String">
                <value>..\..\..\OutputLatex</value>
            </setting>
            <setting name="LatexPictureTemplte" serializeAs="String">
                <value>\centerline{\includegraphics[width=0.9\textwidth]{%file%}}
\caption{%caption%}</value>
            </setting>
        </CMNFTest.Properties.Settings>
    </userSettings>
</configuration>